{{#if viewMode}}
    <h2>
        Detail for {{contact.name}} -
        <button class="btn-edit-contact" {{action "editContact"}}>Edit</button>
    </h2>

    <div class="detail">
        <div class="test-contact-name">
            Name: {{contact.name}}
        </div>
        <div>
            <h3>Email Addresses:</h3>
            <ul>
                {{#each contact.emailAddress as | emailAddress |}}
                    <li class="test-contact-email">{{emailAddress.email}} ({{emailAddress.type}})</li>
                {{/each}}
            </ul>
        </div>
        <div>
            <h3>Phone Numbers:</h3>
            <ul >
                {{#each contact.phoneNumber as | phoneNumber |}}
                    <li class="test-contact-phone">{{phoneNumber.number}} ({{phoneNumber.type}})</li>
                {{/each}}
            </ul>
        </div>
    </div>
{{else}}
    <div class="edit-mode">
        {{#if exceptions.errors}}
            <div class="alert-danger" style="color:red; font-weight: bold; margin: 10px; border: 1px solid red;">
                {{exceptions.errors.firstObject}}
            </div>
        {{/if}}
        <div class="test-contact-name">
            Name: {{input class="edit-name" value=contact.name}}
        </div>
        <div>
            <h3>Email Addresses:</h3>
            <ul>
                {{#each contact.emailAddress as | emailAddress |}}
                    <li class="test-contact-email">
                        {{input class="edit-email" value=emailAddress.email}}
                    </li>
                {{/each}}
            </ul>
        </div>
        <div>
            <h3>Phone Numbers:</h3>
            <ul >
                {{#each contact.phoneNumber as | phoneNumber |}}
                    <li class="test-contact-phone">
                        {{input class="edit-phone" value=phoneNumber.number}}
                    </li>
                {{/each}}
            </ul>
        </div>

        <div class="action-buttons">
            <button class="btn-edit-submit" {{action "submitUpdate"}}>
                Submit Updates
            </button>
            <button class="btn-edit-cancel" {{action "cancelEdit"}}>
                Cancel Updates
            </button>
        </div>
    </div>
{{/if}}
