<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email Address</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as | contact |}}
            <tr class="test-contact">
                <td class="test-contact-name">{{contact.name}}</td>
                <td class="test-contact-primary-email">
                    {{contact.emailAddress.firstObject.email}}
                    {{#if contact.hasMoreEmailAddresses}}
                        (+{{contact.additionalEmailAddresses}})
                    {{/if}}
                </td>
                <td class="test-contact-primary-phone">
                    {{contact.phoneNumber.firstObject.number}}
                    {{#if contact.hasMorePhoneNumbers}}
                        (+{{contact.additionalPhoneNumbers}})
                    {{/if}}
                </td>
                <td>
                    {{#link-to "contacts.detail" contact.id}}Edit{{/link-to}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
